# Temporarily ignore data
data/derived_data/*
data/raw_data/*

# Site output
analysis/_site/*
analysis/site_libs/*

# knitr and caching stuff
*/*_files/*
*/*_cache/*
lib/*.rds

# Manuscript output
manuscript/*.docx
manuscript/*.html
manuscript/*.pdf
manuscript/*.tex
manuscript/tex_out/*
manuscript/vc*

# Other folders
admin/*
data/private_data/*
manuscript/submissions/*

# R stuff
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Miscellaneous
*.~lock.*
.DS_Store
.dropbox
Icon?
