# Site output
analysis/_site/*
analysis/site_libs/*

# knitr and caching stuff
analysis/*_files/*
*/*_cache/*
lib/*.rds

# Manuscript output
manuscript/*.docx
manuscript/*.html
manuscript/*.pdf
manuscript/*.tex
manuscript/tex_out/*
manuscript/pandoc/bin/vc*

# Other folders
admin/*
data/private_data/*
manuscript/submissions/*

# R stuff
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rapp.history

# Stan stuff
src/*.o
src/*.so
src/*.cc
src/*.h
src/*.cpp
src/*.hpp
src/RcppExports.cpp

# Miscellaneous
*.~lock.*
.DS_Store
.dropbox
Icon?
